{% extends "base.html" %}
{% load static %}
{% block metadescription%}
	This is your event list page. Proceed to review your events and place the reservation.
{% endblock %}
{% block title%}
	Event - Eat and Meet
{% endblock %}
{% block content %}
	{% if not event_items %}
	<div>
		<div>
			<br>
			<h1 class="text-center my_title">
				Your event list is empty
			</h1>
			<br>
			<p class="text-center">
				Please click <a href="{% url 'menu:allProdCat' %}" %}>here</a> to continue browsing.
			</p>
		</div>
	</div>
	{% else %}
		<div>
			<div class="text-center">
				<br>
				<h1 class="text-center my_title">
					Your event list
				</h1>
				<br>
			</div>
		</div>
		<div class="row mx-auto">
			<div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
				<table class="table my_custom_table">
					<thead class="my_custom_thead">
						<tr>
							<th colspan="5">
								Your events
							</th>
						</tr>
					</thead>
					<tbody>
						{% for event_item in event_items %}
							<tr>
								<td>
									<a href="{{event_item.product.get_absolute_url}}"><img src="{{event_item.product.image.url}}" alt="" class="float-left rounded custom_image"></a>
								</td> 
								<td class="text-left">
									{{event_item.product.name}}
									<br>
									Host: {{event_item.product.id}}
									<br>
									Unit Price: ${{event_item.product.price}}
									<br>
									Guest: {{event_item.quantity}} * ${{event_item.product.price}}
								</td>
								<td>
									${{event_item.sub_total}}
								</td>
								{% if event_item.quantity < event_item.product.stock %}
									<td>
										<a href="{% url 'event:add_event' event_item.product.id %}" class="custom_a"><i class="fas fa-plus-circle custom_icon"></i></a>&nbsp;<a href="{% url 'event:event_remove' event_item.product.id %}" class="custom_a"><i class="fas fa-minus-circle custom_icon"></i></a>&nbsp;<a href="{% url 'event:full_remove' event_item.product.id %}" class="custom_icon"><i class="fas fa-trash custom_icon"></i></a>
									</td>
								{% else %}
									<td>
										&nbsp;<a href="{% url 'event:event_remove' event_item.product.id %}" class="custom_a"><i class="fas fa-minus-circle custom_icon"></i></a>&nbsp;<a href="{% url 'event:full_remove' event_item.product.id %}" class="custom_icon"><i class="fas fa-trash custom_icon"></i></a>
									</td>
									<td></td>
								{% endif %}
							</tr>
						{% endfor %}
					</tbody>
				</table>
		</div>
		<div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
			<table class="table my_custom_table">
				<thead class="my_custom_thead">
					<tr>
						<th>
							Checkout
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							Please review your event list before checking out.
						</td>
					</tr>
					<tr>
						<td class="text-left">
							Your total is: <strong>${{ total }}</strong>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="mx-auto">
				<a href="{% url 'menu:allProdCat' %}" class="btn btn-secondary btn-block my_custom_button"> Continue looking for other events</a>
			</div>
		</div>
	</div>
	<br>
	{% endif %}
{% endblock %}